@font-face {
    font-family: "Roboto";
    src: 
        url(fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype'),
        url(fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('truetype')
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

aside {
    background-color: #438FD4;
    color: #FFFFFF;
    grid-column: 1 / 2;   
    grid-row: 1 / 7;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(6.2em, 1fr));
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 0.4em;
    padding: 1.5em 1.2em;
    align-self: start;
    font-size: 1.5rem;
    font-weight: bold;

    > img {
        width: 1.6em;
        height: 1.6em;
    }

    > p {
        align-self: center;
    }
}

.nav-item {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 1em;
    padding: 0.5em 2.3em;
    font-size: 1.1rem;
    list-style-type: none;
    align-items: center;

    > img {
        width: 1.4em;
        height: 1.4em;
    }

    > a { 
        text-decoration: none;
        color: #FFFFFF;
    }
    
    > a:hover {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
    }
}

#search {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1em;
    align-items: center;

    > input {
        background-color: #E3E8F0;
        outline: none;
        border: none;
        border-radius: 1.5em;
        text-indent: 1em;
        padding: 0.6em;
    }

    > img:nth-child(1) {
        width: 1.4em;
        height: 1.4em;
    }
}

#profile {
    display: grid;
    grid-template-columns: repeat(2, min-content) auto;
    gap: 1.8em;
    align-items: center;
    justify-self: end;
    font-weight: bold;

    > img:first-child {
        width: 1.5em;
        height: 1.5em;
    }

    > .avatar {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
}

#greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1em;

    > img {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
    }

    #user {
        font-weight: bold;
    }

    #user > p:nth-child(1) {
        font-size: 0.7rem;
    }
}

#action {
    display: grid;
    grid-template-columns: repeat(3, 6em);
    justify-content: end;
    align-content: center;
    gap: 2em;

    > button {
        background-color: #438FD4;
        color: #FFFFFF;
        border: none;
        border-radius: 1.5em;
        padding: 0.7em 0;
    }
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 1.5em;
    background-color: #FFFFFF;
    padding: 1.5em 2em;
    align-content: center;

}

main {
    background-color: #E3E8F0;
    grid-row: 2 / 7;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: auto 18em;
    padding: 1.5em;
}

#projects {
    grid-row: 1 / 7;
    display: grid;
    gap: 0.7em;
    align-self: start;

    > p, .project-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    > .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
        gap: 1.9em;
    }

    .project-card {
        background-color: #FFFFFF;
        border-left: 0.5em solid #E8B62D;
        border-radius: 0.5em;
        padding: 2em;
        display: grid;
        gap: 0.6em;
        align-content: space-between;
    }

    .project-description {
        font-size: 0.9rem;
        color: #757575;
    }

    .project-action {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        gap: 1.2em;
        justify-content: end;
    }

    .project-action > img {
        width: 1.3em;
        height: 1.3em;
    }
}

#announcements {
    padding: 0 1.5em;
    display: grid;
    gap: 0.6em;

    > p:first-child {
        font-size: 1.2em;
        font-weight: bold;
        align-self: center;
    }

    > .announcement-container {
        border-radius: 0.5em;
        background-color: #FFFFFF;
    }

    .announcement-card {
        position: relative;
        padding: 1.2em 1.5em;
    }

    .announcement-card:not(:last-of-type)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 0.01em;
        background-color: #757575;
    }

    .announcement-title {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .announcement-description {
        color: #757575;
        font-size: 0.7rem;
    }
}

#trending {
    padding: 1.5em;
    display: grid;
    gap: 0.6em;

    > p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    > .trending-container {
        background-color: #FFFFFF;
        border-radius: 0.5em;
        padding: 0.6em 0;
    }
    
    .trending-card {
        display: grid;
        grid-template-columns: min-content auto;
        gap: 1.2em;
        align-items: center;
        font-size: 0.9rem;
        padding: 0.7em 1em;
    }

    .trending-card > img {
        width: 3em;
        height: 3em;
        border-radius: 50%; 
    }

     .snapshot > p:first-child {
        font-weight: bold;
    }

    .snapshot > p:last-child {
        color: #757575;
    }
}