* {
    padding: 0;
    margin: 0;
}

header, .project-card {
    background-color: #FFFFFF;
}

main {
    background-color: #E3E8F0;
}

aside {
    background-color: #438FD4;
}

section img {
    width: 30px;
    height: 30px;
}

nav img {
    width: 20px;
    height: 20px;

}

.avatar, section img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.project.action > img {
    width: 25px;
    height: 25px;
}