@font-face {
    font-family: "Roboto";
    src: 
        url(fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype'),
        url(fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('truetype')
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 10px;
    padding: 10px;
    align-self: start;
    font-size: 1.5rem;
    font-weight: bold;

    > img {
        width: 35px;
        height: 35px;
    }

    > p {
        align-self: center;
    }
}

.nav-item {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    padding: 5px 20px;
    font-size: 1.1rem;
    list-style-type: none;
    > img {
        width: 20px;
        height: 20px;
    }
    > a { 
        text-decoration: none;
        color: #FFFFFF;
    }
    > a:hover {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
    }
}

#search {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 15px;
    align-items: center;

    > input {
        background-color: #E3E8F0;
        outline: none;
        border: none;
        border-radius: 15px;
        text-indent: 10px;
        padding: 7px;
    }
}

#profile {
    display: grid;
    grid-template-columns: repeat(2, min-content) auto;
    gap: 20px;
    align-items: center;
    justify-self: end;
    font-weight: bold;

    > img:first-child {
        width: 18px;
        height: 18px;
    }

    > .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

#greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 15px;

    > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #user {
        font-weight: bold;
    }

    #user > p:nth-child(1) {
        font-size: 0.7rem;
    }
}

#action {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    justify-content: end;
    align-content: center;
    gap: 25px;

    > button {
        background-color: #438FD4;
        color: #FFFFFF;
        border: none;
        border-radius: 25px;
        padding: 8px 0;
    }
}

#search > img:nth-child(1) {
    width: 20px;
    height: 20px;
}


body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 20px;
    background-color: #FFFFFF;
    padding: 10px 30px;

}

main {
    background-color: #E3E8F0;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: auto 250px;
}

#projects {
    grid-row: 1 / 3;
}

#announcements {
    font-size: 0.6rem;
    padding: 15px;

    > p:first-child {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 0;
    }

    > .announcement-container {
        border-radius: 15px;
        background-color: #FFFFFF;
    }

    .announcement-card {
        position: relative;
        padding: 18px 25px;

    }

    .announcement-card:not(:last-of-type)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: grey;
    }

    .announcement-title {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .announcement-description {
        color: #757575;
    }
}

#trending {

    > .trending-container {
        background-color: #FFFFFF;
    }
    .trending-card {
        display: grid;
        grid-template-columns: min-content auto;
    }
}

aside {
    background-color: #438FD4;
    color: #FFFFFF;
    grid-column: 1 / 2;   
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

section img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.project.action > img {
    width: 25px;
    height: 25px;
}