* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr auto;
}

header {
    background-color: #FFFFFF;
    grid-column: 2 / -1;
}

main {
    background-color: #E3E8F0;
    grid-column: 2 / -1;
}

aside {
    background-color: #438FD4;
    grid-column: 1 / 2;   
    grid-row: 1 / 3;
}

section img {
    width: 30px;
    height: 30px;
}

nav img {
    width: 20px;
    height: 20px;

}

.avatar, section img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.project.action > img {
    width: 25px;
    height: 25px;
}