@font-face {
    font-family: "Roboto";
    src: 
        url(fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype'),
        url(fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('truetype')
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 10px;
    padding: 10px;
    align-self: start;
    font-size: 1.5rem;
    font-weight: bold;

    > img {
        width: 32px;
        height: 32px;
    }

    > p {
        align-self: center;
    }
}

.nav-item {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 15px;
    padding: 5px 15px;
    font-size: 1.1rem;
    list-style-type: none;
    > img {
        width: 20px;
        height: 20px;
    }
    > a { 
        text-decoration: none;
        color: #FFFFFF;
    }
    > a:hover {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
    }
}

#search {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 15px;
    align-items: center;

    > input {
        background-color: #E3E8F0;
        outline: none;
        border: none;
        border-radius: 15px;
        text-indent: 10px;
        padding: 7px;
    }
}

#profile {
    display: grid;
    grid-template-columns: repeat(2, min-content) auto;

    justify-content: end;
    align-items: center;
}

#greeting {
    display: grid;
    grid-template-columns: repeat(2, auto);
}


#action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#search > img:nth-child(1), #profile > img:nth-child(1) {
    width: 20px;
    height: 20px;
}


body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

header {
    background-color: #FFFFFF;
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}



main {
    background-color: #E3E8F0;
    grid-column: 2 / -1;
}

aside {
    background-color: #438FD4;
    color: #FFFFFF;
    grid-column: 1 / 2;   
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.avatar, section img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.project.action > img {
    width: 25px;
    height: 25px;
}